.login {
	border: 1px solid #e6edf3;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 330px;
	margin: 0 auto;
	background-color: #0d1117;
	color: #f0f0f0;
	padding: 50px 0;
}

.login form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	max-width: 250px;
}

.login form button {
	padding: 5px;
}

.box-login {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.alert-danger {
	border: 2px solid #842029 !important;
}
